{% extends "inicio.html" %}

{% block titulo %}

{% endblock titulo %}

{% block navbar %}

{% endblock navbar %}

{% block principal %}

<div class="tarjeta-partido-info">
    <p><strong>{{ partido[0] }}</strong> - {{ partido[1] }}</p>
    <div class="info-partido-detalle">

        {% if partido[6]=="no-imagen" %}
            <img src="{{ url_for('static', filename='imagenes/no-imagen.png') }}" alt="Local Icon">
        {% else %}
            <img src="{{ url_imagen }}{{ partido[6] }}.png" alt="Local Icon">
        {% endif %}

        <h3>{{ partido[2] }} {{ partido[3] }} {{ partido[4] }}</h3>

        {% if partido[7]=="no-imagen" %}
            <img src="{{ url_for('static', filename='imagenes/no-imagen.png') }}" alt="Local Icon">
        {% else %}
            <img src="{{ url_imagen }}{{ partido[7] }}.png" alt="Visitante Icon">
        {% endif %}
        
    </div>

    <p>Fecha: {{ partido[5] }} ({{ partido[8] }}h)</p>
    <h4>{{ partido[10] }} ({{ partido[9] }} personas)</h4>
</div>

<a href="/?fecha={{ fecha }}" class="boton-volver">Volver</a>

{% endblock principal %}